{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container" style="margin-top: 100px">
        <h3>Create {{ type_of_user }} Account</h3>
        <hr>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success btn-lg btn-block mb-2">Create {{ type_of_user }} Account
            </button>
            <p><a href="{% url 'manager-page' %}">Back to manager dashboard</a></p>
        </form>
    </div>
{% endblock %}